
<style>
        /* Optional CSS for styling the table */
        table {
			border: 1px;
            width: 100%;
        }
        th, td {
            border: 1px solid #ccc;
            text-align: left;
			background-color: pink
        }
        th {
            background-color: darkred;
			color: white
        }
    </style>